<button
  type="button"
  class="btn btn-success mx-1"
  (click)="[openModal(template)]"
>
  Editar
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre</label>
        <input
          id="name-input"
          type="text"
          class="form-control"
          formControlName="nombre"
        />
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="reset" class="btn btn-info">Limpiar</button>
    </div>
  </form>
</ng-template>
